# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
node_modules/
bower_components/
.git/

# Build output
dist/
dist-ssr
build
.vite

# Local env files
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
ehthumbs.db
.Trashes

# Coverage reports (if using Jest or similar)
coverage/

# Optional npm cache
.npm

# Windows dev artifacts (si no usás .NET, podés eliminar estas)
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MacOS files
.AppleDouble
.LSOverride
